{% extends '__base__.html' %}

{% block title %}Editinfo{% endblock %}

{% block beforehead %}

<script type="text/javascript">

function validDate(s)
{
	var re = /^((19|20)\d{2})\/([0|1]?\d)\/([0-3]?\d)$/;
	return re.test(s);
}

$(function(){
		var vm = new Vue(
		{
			el: '#form-ext',
			data: {
				username: '{{ user.t_username }}',
				gender: '{{ user.t_gender }}',
				avatar: '{{ usrext.t_avatar }}',
				birthday: '{{ usrext.t_birthday|datetime }}',
				qq: '{{ usrext.t_qqid }}',
				cellphone: '{{ usrext.t_cellphone }}',
				zipcode: '{{ usrext.t_zipcode }}',
				website: '{{ usrext.t_website }}',
				motto: '{{ usrext.t_motto }}'
			},
			methods: {
				submit: function(event){
					event.preventDefault();
					birthday_str = this.birthday;
					if (validDate(birthday_str)){
						bir_date = new Date(birthday_str);
						bir_dt_int = bir_date.getTime();
						bir_dt_real = parseFloat(bir_dt_int);
						birthday_dt = bir_dt_real / 1000;
					} 
					else if (birthday_str == '') {
						birthday_dt = 0;
					} 
					else{
						return showError('Please enter a valid birthday (YYYY/MM/DD)');
					}
					avatar_src = $('#img_org').attr('src')
					postApi('/api/user/edit', 
					{
						username: this.username,
						gender: this.gender,
						avatar: avatar_src,
						birthday: birthday_dt.toString(),
						qq: this.qq,
						cellphone: this.cellphone,
						zipcode: this.zipcode,
						website: this.website,
						motto: this.motto
					}, function(err,r){
						if(err){
							showError(err);
						}
						else{
							return location.assign('/');
						}
					});
				}
			}
		});
	}
		);
/*
	 //image upload
    $(function(){
		var gg = document.getElementById("img1");
		var ei = document.getElementById("large");
		gg.onmousemove = function(event){
			event = event || window.event;
			ei.style.display = "block";
			ei.innerHTML = '<img style="border:1px solid gray;" src="' + this.src + '" />';
			ei.style.top  = document.body.scrollTop + event.clientY + 12 + "px";
			ei.style.left = document.body.scrollLeft + event.clientX + 12 + "px";
		}
		gg.onmouseout = function(){
			ei.innerHTML = "";
			//ei.style.display = "none";
		}	
		$("#img").change(function(){
			$("#img1").attr("src","file:///"+$("#img").val());
		})
 	});
*/
	var imgcontent = ''
	$(function() {
    	var entryContentWidth = $('.row').width();
    	$('.entry-content img').on('load', function(){
        	if($(this).width() > entryContentWidth) {
            	$(this).width('100%');
        	}
    	});
	});

	function previewImage()
	{
		var preview = document.querySelector('img');
		var file = document.querySelector('input[type=file]').files[0];
		var reader = new FileReader();

		reader.onloadend = function(){
			preview.src = reader.result;
			imgcontent = preview.src
		}
		if(file)
		{
			reader.readAsDataURL(file);
		}
	}

	$(function(){
	var vm = new Vue({
		el: '#form-avatar',
		data:{
			content: ''
		},
		methods: {
			upload: function(event){
				if (!imgcontent){
					return showError('');
				}
				event.preventDefault();
				showError();
				postApi('/api/avatar', {
					img: imgcontent
				}, function(err, result){
					if(err){
						showError(err);
					} else {
						return setImgSrc(result.src);
					}
				});
			}
		}
	});

	function setImgSrc(value){
		$('#img_org').attr('src', value);
	}
});
</script>

{% endblock %}


{% block content %}
	<span class="label label-default">Current User:{{user.t_username}}</span>

	<div id="editinfo" class="container span8 offset4">
		<h1 class="page-header">Please Edit Your Information</h1>
		<form class="form-horizontal" id="form-ext" v-on="submit: submit">
            <div class='alert alert-danger hidden'></div>
			<div class="control-group">
				<label class="control-label" >Username:</label>
				<div class="controls">
					<input type="text" v-model="username">
				</div>
			</div>
			<div class="control-group">
			    <label class="control-label" >Gender:</label>
				<div class="controls">
					Male&nbsp;<input type="radio" value="1" {% if user.t_gender == 1 %} checked {% endif %} v-model="gender" name=	"sex"/>&nbsp;
					Female&nbsp;<input type="radio" value="0" {% if user.t_gender == 0 %} checked {% endif %} v-model="gender" 	name="sex"/>				
				</div>
			</div>
			<div class="control-group">
			    <label class="control-label" >Motto:</label>
				<div class="controls">
					<input type="text" v-model="motto">
				</div>
			</div>
			<div class="control-group">
			    <label class="control-label" >QQ:</label>
				<div class="controls">
					<input type="text" v-model="qq" maxlength="11">
				</div>
			</div>
			<div class="control-group">
			    <label class="control-label" >Cellphonne:</label>
				<div class="controls">
					<input type="text" v-model="cellphone" maxlength="11">
				</div>
			</div>
			<div class="control-group">
			    <label class="control-label" >Zipcode:</label>
				<div class="controls">
					<input type="text" v-model="zipcode" maxlength="6">
				</div>
			</div>
			<div class="control-group">
			    <label class="control-label" >Website:</label>
				<div class="controls">
					<input type="text" v-model="website" >
				</div>
			</div>	
			<div class="control-group">
			    <label class="control-label" >Birthday:</label>
				<div class="controls">
					<input type="text" v-model="birthday" >
				</div>
			</div>
			<!-- <span class="label 	label-default">Your current vartar:</span>
				<img src="{{usrext.t_avatar}}">-->
			<div class="control-group">
			    <label class="control-label" >Avatar:</label>
				<div class="controls">
					<img id="img_org" src="{{usrext.t_avatar}}" style="width: 256px; height: 256px; ">
					<input type="text" id="avatar_id" name="avatar" value="{{usrext.t_avatar}}" class="hidden" >
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
				<button type="submit" class="btn btn-large btn-primary">Finish</button>
				</div>
			</div>
		</form>
		<!--debug image upload-->
		<form class="offset1" name="form1" id="form-avatar" v-on="submit: upload" enctype="multipart/form-data">
			<div id="demo">
				<input id="image" name="image" accept="image" type="file" onchange="previewImage()" />
				<button type="submit" class="btn btn-middle btn-primary">upload</button>
				<!--<img id="img1" width="60" height="60">-->
			</div>
			<div id="large"></div>
		</form>
	</div>
	<div id="footer" class="container span12">
	</div>

{% endblock %}
