{% extends '__base__.html' %}

{% block title %}Change Password{% endblock %}

{% block content %}
	<span class="label label-default">Current User:{{user.t_username}}</span>
	
	<div id="changepwd" class="container span8 offset4">
		<h1 class="page-header">Change Your Password</h1>
		<form class="form-horizontal" action="/api/user/passwd" method="post">
			<div class="control-group">
			    <label class="control-label" for="inputPassword">Old Password:</label>
				<div class="controls">
                    <input type="password"  id="pre_password_id" name="prev_passwd" placeholder="password" onkeydown="encodePWD()">
				</div>
			<div class="control-group">
			    <label class="control-label" for="inputPassword">New Password:</label>
				<div class="controls">
                    <input type="password"  id="password_id" name="new_passwd" placeholder="password" onkeydown="encodePWD()">
				</div>
			<div class="control-group">
			    <label class="control-label" >Captcha:</label>
				<div class="controls">
				<input type="text" name="captcha" placeholder="input the identifying code you see">
				<img src="/api/captcha">
				</div>
				
			
			<div class="control-group">
				<div class="controls">
				<button type="submit" onclick="doSubmit();" class="btn btn-large btn-primary">Change</button>
				</div>
			</div>
		</form>
	</div>
	<div id="footer" class="container span12">
	</div>

    <!--对密码做md5处理-->
    <script>
       // alert($.md5('conan'));
        function doSubmit() {
                        var raw_pwd=$("#password_id")[0].value;
                        alert(raw_pwd);
                       //alert(raw_pwd);
                        var md5_pwd=$.md5(raw_pwd);
                       // alert(md5_pwd);
                        $("#password_id").val(md5_pwd);//重置password框属性值
		       //deal with old password
			var pre_raw_pwd=$("#pre_password_id")[0].value;
			var md5_pre_pwd=$.md5(pre_raw_pwd);
			alert(raw_pwd);
			$("#pre_password_id").val(md5_pre_pwd);
			
        }
    </script>
{% endblock %}
