{% extends '__base__.html' %}

{% block title %}Change Password{% endblock %}

{% block beforehead %}

<script type="text/javascript">
    function refreshCaptcha()
    {
        var a = document.getElementById('captcha');
        a.setAttribute('src', '/api/captcha');
    }
    $(function(){
        var vm = new Vue({
            el: '#form-pwd', 
            data: {
                prev_passwd: '',
                new_passwd: '',
                captcha: ''
            },
            methods: {
                submit: function(event){
                    event.preventDefault();
                    if(! this.captcha){
                        return showError('Captcha is empty.')
                    }
                    if(! this.prev_passwd){
                        return showError('Please enter your previous password.')
                    }
                    if(! this.new_passwd){
                        return showError('Please enter your new password.')
                    }
                    if(this.new_passwd.length < 6){
                        return showError('Your password is too short.')
                    }
                    if(this.prev_passwd == this.new_passwd){
                        return showError('New password should be different')
                    }
                    postApi('/api/user/passwd', {
                        prev_passwd: $.md5(this.prev_passwd),
                        new_passwd: $.md5(this.new_passwd),
                        captcha: this.captcha
                    }, function(err, r){
                        if(err){
                            showError(err)
                        } else {
                            return location.assign('/')
                        }
                    });
                }
            }
        });
    });
</script>

{% endblock %}

{% block content %}
	<span class="label label-default">Current User:{{user.t_username}}</span>
	
	<div id="changepwd" class="container span8 offset4">
		<h1 class="page-header">Change Your Password</h1>
		<form class="form-horizontal" id="form-pwd" v-on="submit: submit">
            <div class='alert alert-danger hidden'></div>
			<div class="control-group">
			    <label class="control-label" for="inputPassword">Old Password:</label>
				<div class="controls">
                    <input type="password"  id="pre_password_id" v-model="prev_passwd" />
				</div>
            </div>
			<div class="control-group">
			    <label class="control-label" for="inputPassword">New Password:</label>
				<div class="controls">
                    <input type="password"  id="password_id" v-model="new_passwd" />
				</div>
            </div>
			<div class="control-group">
			    <label class="control-label" >Captcha:</label>
				<div class="controls">
				    <input type="text" v-model="captcha" />
				<img src="/api/captcha" onclick="refreshCaptcha()">
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
				<button type="submit" class="btn btn-large btn-primary">Change</button>
				</div>
			</div>
		</form>
	</div>
	<div id="footer" class="container span12">
	</div>
{% endblock %}
