{% extends '__base__.html' %}

{% block title %}Userinfo{% endblock %}

{% block content %}
	<span class="label label-default">Current User:{{user.t_username}}</span>

	<div  class="container span8 offset0">
		<h1 class="page-header">User Information</h1>
		<form class="form-horizontal">
			<div class="control-group">
				<label class="control-label" >Username:</label>
				<div class="controls">
				<p><span class="label label-default">{{user.t_username}}</span></p>
				</div>
			</div>
			<div class="control-group">
			    <label class="control-label" >Email:</label>
				<div class="controls">
				<p><span class="label label-default">{{user.t_emailaddr}}</span></p>
				</div>
			</div>
			<div class="control-group">
			    <label class="control-label" >Gender:</label>
				<div class="controls">
					Male&nbsp;<input type="radio" value="1" {% if user.t_gender == 1 %} checked {% endif %} v-model="sex" name="sex"/>&nbsp;
					Female&nbsp;<input type="radio" value="0" {% if user.t_gender == 0 %} checked {% endif %} v-model="sex" name="sex"/>
				</div>
			</div>
			<div class="control-group">
			    <label class="control-label" >Privilege:</label>
				<div class="controls">
				<p><span class="label label-default">{{user.t_privilege}}</span></p>
				</div>
			</div>
			<div class="control-group">
			    <label class="control-label" >Credits:</label>
				<div class="controls">
				<p><span class="label label-default">{{user.t_credits}}</span></p>
				</div>
			</div>
			<div class="control-group">
			    <label class="control-label" >Register Time:</label>
				<div class="controls">
				<p><span class="label label-default">{{user.t_created_at}}</span></p>
				</div>
			</div>
			<div class="control-group">
			    <label class="control-label" >Motto:</label>
				<div class="controls">
				<p><span class="label label-default">{{usrext.t_motto}}</span></p>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" >Cellphone:</label>
				<div class="controls">
				<p><span class="label label-default">{{usrext.t_cellphone}}</span></p>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" >QQ:</label>
				<div class="controls">
				<p><span class="label label-default">{{usrext.t_qqid}}</span></p>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" >ZipCode:</label>
				<div class="controls">
				<p><span class="label label-default">{{usrext.t_zipcode}}</span></p>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" >Website:</label>
				<div class="controls">
				<p><span class="label label-default">{{usrext.t_website}}</span></p>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" >Birthday:</label>
				<div class="controls">
				<p><span class="label label-default">{{usrext.t_birthday|datetime}}</span></p>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" >Avatar:</label>
				<div class="controls">
				<img src="{{usrext.t_avatar}}" />
			</div>
		</form>
	</div>

	<div id="footer" class="container span12">
	</div>
{% endblock %}
