{% extends '__base.html' %}

{% block title %}Register{% endblock %}

{% block beforehead %}

<script type="text/javascript">

$(function(){
	var vm = new Vue({
		el: '#form-login',
		data:{
			email: '',
			password1: '',
			remember: false
		},
		methods: {
			submit: function(event){
				event.preventDefault();
				var email = this.email.trim().toLowerCase();
				showError();
				startLoading();
				postApi('/api/auth', {
					email: email,
					password: CryptoJS.MD5(this.password1).toString(),
					remember: this.remember
				}, function(err, result){
					if(err){
						showError(err);
					} else {
						return location.assign(result.admin? '/admin/' : '/');
					}
					stopLoading();
				});
			}
		}
	});
});

</script>

{% endblock %}

{% block content %}

<div class="uk-width-2-3 .uk-container-center">
	<h1>Login</h1>
	<form id="form-login" class="uk-form uk-form-horizontal" v-on="submit: submit">
        <div class='uk-alert uk-alert-danger uk-hidden'></div>
		<div class="uk-form-row">
			<label class="uk-form-label">Email:</label>
			<div class="uk-form-controls">
				<input v-model="email" type="text" class="uk-width-1-1" />
			</div>
		</div>
		<div class="uk-form-row">
			<label class="uk-form-label">Password:</label>
			<div class="uk-form-controls">
				<input v-model="password1" type="password" maxlength="50" class="uk-width-1-1" />
			</div>
		</div>
		<div class='uk-form-row'>
			<input type="checkbox" name="remember" v-model="remember" />&nbsp;Remember me
		</div>
		<div class="uk-form-row">
			<button type="submit" class="uk-button uk-button-primary"><i class="uk-icon-user"></i> Sign In</button>
		</div>
	</form>
</div>

{% endblock %}