{% extends '__base.html' %}

{% block title %}Register{% endblock %}

{% block beforehead %}

<script>
	function validateEmail(email) {
    	var re = /^[a-z0-9\.\-\_]+\@[a-z0-9\-\_]+(\.[a-z0-9\-\_]+){1,4}$/;
    	return re.test(email.toLowerCase());
	}
    function refreshCaptcha()
    {
        var a = document.getElementById('captcha');
        a.setAttribute('src', '/api/captcha');
    }
    function check_form()
    {
       $('#password').val(CryptoJS.MD5($('#password').val()).toString());
       return true;
    }
    $(function(){                 //what does this code mean?
    	var vm = new Vue({
    		el: '#form-register',
    		data: {
    			name: '',
    			email: '',
    			password1: '',
    			password2: '',
    			captcha: ''
    		},
    		methods: {
    			submit: function(event){
    				event.preventDefault();
    				if(! this.name.trim()){
    					return showError('Please enter a username.')
    				}
    				if(!validateEmail(this.email.trim().toLowerCase()))
    				{
    					return showError('Please enter a valid email address.')
    				}
    				if(this.password1.length < 6)
    				{
    					return showError('Password must be not shorter than 6 characters.')
    				}
    				if(this.password1 != this.password2)
    				{
    					return showError('Two passwords don\'t match.')
    				}
    				startLoading();
    				postApi('/api/users', {
    					name: this.name,
    					email: this.email.trim().toLowerCase(),
    					password: CryptoJS.MD5(this.password1).toString(),
    					captcha: this.captcha.toLowerCase()
    				}, function(err, r){
    					if(err){
    						showError(err);
    					}
    					else{
    						return location.assign('/');
    					}
    					stopLoading();
    				});
    			}
    		}
    	});
    });
</script>

{% endblock %}

{% block content %}

<div class="uk-width-1-2 uk-container-center">
	<h1>Welcome to register!</h1>
	<form id="form-register" class="uk-form uk-form-stacked" v-on="submit: submit">
        <div class='uk-alert uk-alert-danger uk-hidden'></div>
		<div class="uk-form-row">
			<label class="uk-form-label">Name:</label>
			<div class="uk-form-controls">
				<input v-model="name" type="text" maxlength="32" placeholder="Username/Nickname" class="uk-width-1-1" />
			</div>
		</div>
		<div class="uk-form-row">
			<label class="uk-form-label">Email:</label>
			<div class="uk-form-controls">
				<input v-model="email" type="text" placeholder="BE AWARE: Email is your unique credential." class="uk-width-1-1" />
			</div>
		</div>
		<div class="uk-form-row">
			<label class="uk-form-label">Enter password:</label>
			<div class="uk-form-controls">
				<input v-model="password1" type="password" placeholder="Enter password" maxlength="50" class="uk-width-1-1" />
			</div>
		</div>
		<div class="uk-form-row">
			<label class="uk-form-label">Retype password:</label>
			<div class="uk-form-controls">
				<input v-model="password2" type="password" placeholder="Retype password" maxlength="50" class="uk-width-1-1" />
			</div>
		</div>
        <div class="uk-form-row">
            <label class="uk-form-label">Captcha:</label>
            <div class="uk-form-controls">
                <input v-model="captcha" type="text" maxlength="4" class="uk-width-1-2" />
                <img src="/api/captcha" height="40" width="120" id='captcha' onclick='refreshCaptcha()' />
            </div>
        </div>
		<div class="uk-form-row">
			<button type="submit" class="uk-button uk-button-primary"><i class="uk-icon-user"></i> Register</button>
		</div>
	</form>
</div>

{% endblock %}