{% extends '__base.html' %}

{% block title %}Profile{% endblock %}

{% block beforehead %}

<script type="text/javascript">

function validDate(s)
{
	var re = /^((19|20)\d{2})\/([0|1]?\d)\/([0-3]?\d)$/;
	return re.test(s);
}

$(function(){
		var vm = new Vue(
		{
			el: '#form-ext',
			data: {
				gender: '{{ user.t_gender }}',
				sex: '{{ user.t_gender }}',
				birthday: '{{ usrext.t_birthday|datetime }}',
				qq: '{{ user.t_qqid }}',
				telephone: '{{ user.t_cellphone }}',
				zipcode: '{{ user.t_zipcode }}',
				website: '{{ user.t_website }}',
				motto: '{{ user.t_motto }}'
			},
			methods: {
				submit: function(event){
					event.preventDefault();
					birthday_str = this.birthday;
					if (validDate(birthday_str)){
						bir_date = new Date(birthday_str);
						bir_dt_int = bir_date.getTime();
						bir_dt_real = parseFloat(bir_dt_int);
						birthday_dt = bir_dt_real / 1000;
					} 
					else if (birthday_str == '') {
						birthday_dt = 0;
					} 
					else{
						return showError('Please enter a valid birthday (YYYY/MM/DD)');
					}
					startLoading();
					postApi('/api/user/ext', 
					{
						gender: this.sex,
						birthday: birthday_dt.toString(),
						qq: this.qq,
						telephone: this.telephone,
						zipcode: this.zipcode,
						website: this.website,
						motto: this.motto
					}, function(err,r){
						if(err){
							showError(err);
						}
						else{
							return location.assign('/');
						}
						stopLoading();
					});
				}
			}
		});
	}
		);

</script>

{% endblock %}

{% block content %}

<div class="uk-width-3-10">
	<div class="uk-nav-side uk-nav" data-uk-nav="">
		<li class="uk-nav-header">User Settings</li>
		<li><a href='/user/basicinfo'>Basic Information</a></li>
		<li><a href='/user/avatar'>Change your avatar</a></li>
		<li class="uk-active"><a href='/user/ext'>Complete your profile</a></li>
		<li class="uk-nav-divider"></li>
		<li class="uk-nav-header">Relationships</li>
		<li><a href="/peer/messages">Messages</a></li>
		<li><a href="/peer/friends">Friends</a></li>
		<li><a href="/peer/blocked">Blocked</a></li>
		<li class="uk-nav-divider"></li>
		<li class="uk-nav-header">Security</li>
		<li><a href="/user/password">Change your password</a></li>
		<li><a href="/signout">Logout</a></li>
	</div>
</div>
<div class="uk-width-7-10">
	<form id="form-ext" class="uk-form uk-form-horizontal" v-on="submit: submit">
		<div class="uk-alert uk-alert-danger uk-hidden"></div>
		<div class="uk-form-row">
			<label class="uk-form-label">Gender:</label>
			<div class="uk-form-controls">
				Male&nbsp;<input type="radio" value="1" {% if user.t_gender == 1 %} checked {% endif %} v-model="sex" name="sex"/>&nbsp;
				Female&nbsp;<input type="radio" value="0" {% if user.t_gender == 0 %} checked {% endif %} v-model="sex" name="sex"/>
			</div>
		</div>
		<div class="uk-form-row">
			<label class="uk-form-label">Birthday:</label>
			<input type="text" name="birthday" v-model="birthday" class="uk-width-1-1" placeholder="{{ usrext.t_birthday|datetime }}" />
		</div>
		<div class="uk-form-row">
			<label class"uk-form-label">QQ:</label>
			<input type="text" v-model="qq" class="uk-width-1-1" maxlength="12" placeholder="{{ user.t_qqid }}" />
		</div>
		<div class="uk-form-row">
			<label class="uk-form-label">Telephone:</label>
			<input type="text" v-model="telephone" class="uk-width-1-1" maxlength="11" placeholder="{{ user.t_cellphone }}" />
		</div>
		<div class="uk-form-row">
			<label class="uk-form-label">Post Code:</label>
			<input type="text" v-model="zipcode" class="uk-width-1-1" maxlength="6" placeholder="{{ user.t_zipcode }}" />
		</div>
		<div class="uk-form-row">
			<label class="uk-form-label">Website:</label>
			<input type="text" v-model="website" class="uk-width-1-1" placeholder="{{ user.t_website }}" />
		</div>
		<div class="uk-form-row">
			<label class="uk-form-label">Motto</label>
			<textarea v-model="motto" class="uk-width-1-1" rows="4" placeholder="{{ user.t_motto }}"></textarea>
		</div>
		<div class="uk-form-row">
			<button v-on="submit: submit" class="uk-button uk-button-primary">Save</button>
		</div>
	</form>
</div>

{% endblock %}