
{% extends '__base.html' %}

{% block title %}Avatar{% endblock %}

{% block beforehead %}

<script type="text/javascript">
	var imgcontent = ''
	$(function() {
    var entryContentWidth = $('.row').width();

    $('.entry-content img').on('load', function(){
        if($(this).width() > entryContentWidth) {
            $(this).width('100%');
        }
    });
});
	function previewImage()
	{
		var preview = document.querySelector('img');
		var file = document.querySelector('input[type=file]').files[0];
		var reader = new FileReader();

		reader.onloadend = function(){
			preview.src = reader.result;
			imgcontent = preview.src
		}
		if(file)
		{
			reader.readAsDataURL(file);
		}
	}

	$(function(){
	var vm = new Vue({
		el: '#form-avatar',
		data:{
			content: ''
		},
		methods: {
			submit: function(event){
				if (!imgcontent){
					return showError('');
				}
				event.preventDefault();
				showError();
				startLoading();
				postApi('/api/avatar', {
					content: imgcontent
				}, function(err, result){
					if(err){
						showError(err);
					} else {
						return location.assign('/');
					}
					stopLoading();
				});
			}
		}
	});
});

</script>

{% endblock %}

{% block content %}

<div class="uk-width-3-10">
	<div class="uk-nav-side uk-nav" data-uk-nav="">
		<li class="uk-nav-header">User Settings</li>
		<li><a href='/user/basicinfo'>Basic Information</a></li>
		<li class="uk-active"><a href='/user/avatar'>Change your avatar</a></li>
		<li><a href='/user/ext'>Complete your profile</a></li>
		<li class="uk-nav-divider"></li>
		<li class="uk-nav-header">Relationships</li>
		<li><a href="/peer/messages">Messages</a></li>
		<li><a href="/peer/friends">Friends</a></li>
		<li><a href="/peer/blocked">Blocked</a></li>
		<li class="uk-nav-divider"></li>
		<li class="uk-nav-header">Security</li>
		<li><a href="/user/password">Change your password</a></li>
		<li><a href="/signout">Logout</a></li>
	</div>
</div>

<div class="uk-width-7-10">
	<form id="form-avatar" class="uk-form uk-form-horizontal" v-on="submit: submit">
		<div class="uk-alert uk-alert-danger uk-hidden"></div>
		<div class="uk-form-row">
			<label class="uk-form-label">Preview:</label>
			<div style="width: 256px; height: 256px;">
				<div class="uk-panel-teaser"><img src="{{ user.t_avatar }}" class="uk-thumbnail" style="width: 256px; height: 256px;" /></div>
			</div>
		</div>
		<br />
		<br />
		<div class="uk-form-row">
			<input type="file" accept="image" name="image" onchange="previewImage()" />
			<button class="button uk-button-primary" type="submit"><i class="uk-icon-check"></i> Upload</button>
		</div>
	</form>
</div>
{% endblock %}