{% extends '__base.html' %}

{% block title %}Profile{% endblock %}

{% block beforehead %}

<script type="text/javascript">

</script>

{% endblock %}

{% block content %}

<div class="uk-width-3-10">
	<div class="uk-nav-side uk-nav" data-uk-nav="">
		<li class="uk-nav-header">User settings</li>
		<li class="uk-active"><a href="#">User Information</a></li>
		<li class="uk-nav-divider"></li>
		<li class="uk-nav-header">Others</li>
		<li><a href="/">Get back to mine</a></li>
	</div>
</div>
<div class="uk-width-7-10">
	<form id="form-info" class="uk-form uk-form-horizontal">
		<div class="uk-alert uk-alert-danger uk-hidden"></div>
		<div class="uk-form-row">
			<div class="uk-width-2-3">
				<div class="uk-align-center">
					<img src="{{ u.t_avatar }}" class="uk-thumbnail" height="144" width="144" />
				</div>
			</div>
		</div>
		<div class="uk-form-row">
			<label class="uk-form-label">User Name:</label>
			<label class="uk-form-label">{{ u.t_username }}   {% if u.t_privilege %}&nbsp;&nbsp;<span class="uk-badge uk-badge-danger">ADMIN</span> {% endif %}</label>
		</div>
		<div class="uk-form-row">
			<label class="uk-form-label">Created At:</label>
			<label class="uk-form-label">{% if u.t_created_at %} {{ u.t_created_at|datetime }} {% endif %}</label>
		</div>
		<div class="uk-form-row">
			<label class="uk-form-label">Email:</label>
			<label class="uk-form-label">{{ u.t_emailaddr }}</label>
		</div>
		<div class="uk-form-row">
			<label class="uk-form-label">Rank:</label>
			<label class="uk-form-label">{{ u.t_rank }}</label>
		</div>
		<div class="uk-form-row">
			<label class="uk-form-label">Credits:</label>
			<label class="uk-form-label">{{ ext.t_credits }}</label>
		</div>
		<div class="uk-form-row">
			<label class="uk-form-label">Gender:</label>
			{% if u.t_gender == 1 %} <label class="uk-form-label"><i class="uk-icon-male"></i> Male</label> {% endif %}
			{% if u.t_gender == 0 %}<label class="uk-form-label"><i class="uk-icon-female"></i> Female</label> {% endif %}
		</div>
		{% if u.t_birthday %}
		<div class="uk-form-row">
			<label class="uk-form-label">Birthday:</label>
			<label class="uk-form-label">{{ ext.t_birthday|datetime }}</label>
		</div>
		{% endif %}
		{% if u.t_qqid %}
		<div class="uk-form-row">
			<label class="uk-form-label">QQ:</label>
			<label class="uk-form-label">{{ u.t_qqid }}</label>
		</div>
		{% endif %}
		{% if u.t_cellphone %}
		<div class="uk-form-row">
			<label class="uk-form-label">Telephone:</label>
			<label class="uk-form-label">{{ u.t_cellphone }}</label>
		</div>
		{% endif %}
		{% if u.t_zipcode %}
		<div class="uk-form-row">
			<label class="uk-form-label">Post Code:</label>
			<label class="uk-form-label">{{ u.t_zipcode }}</label>
		</div>
		{% endif %}
		{% if t_website %}
		<div class="uk-form-row">
			<label class="uk-form-label">Website:</label>
			<a href="{{ u.t_website }}" target="_blank">{{ u.t_website }}</a>
		</div>
		{% endif %}
		{% if t_motto %}
		<div class="uk-form-row">
			<label class="uk-form-label">Motto</label>
			<textarea v-model="motto" class="uk-width-1-1" rows="4" placeholder="{{ u.t_motto }}" readonly ></textarea>
		</div>
		{% endif %}
	</form>
</div>

{% endblock %}